.title { 
	background: transparent; 	
	text-shadow: 2px 2px 3px #000000, 0 0 5px #000000;
	width: 180px;
	color: white; /* Красный цвет символов */ 
	font-size: 100%; /* Размер шрифта в процентах */ 
	font-family: monospace; /* Шрифт с засечками */ 
	top: 0px; /* Сдвиг сверху */ 
	left: 0px;
	font-weight: bold;
}




